.slds-form-element {
    margin-bottom: 1rem;
}

.slds-input {
    width: 100%;
}

.slds-text-color_error {
    margin-top: 0.5rem;
    font-weight: bold;
}

.slds-button {
    margin-top: 1.5rem;
}

.form-container {
    margin: 1.5rem 0;
}

.slds-card__body {
    padding: 1.
}